<h2>施設・公園の投稿</h2>
<!--エラー  -->
<% if @place.errors.any? %>
  <div class="alert alert-danger">
    <h4>以下のエラーがあります：</h4>
    <ul>
      <% @place.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @place, local: true, html: { multipart: true }, url: public_places_path) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <%= f.label :category %>
  <%= f.select :category, Place.categories.keys.map { |c| [c.humanize, c] } %><br>

  <p>地図から場所を選んでください</p>
  <div id="map" style="height: 800px; width: 100%; margin-bottom: 1rem;"></div>

  <%= f.hidden_field :latitude, id: "place_latitude" %>
  <%= f.hidden_field :longitude, id: "place_longitude" %>
  <%= f.hidden_field :address, id: "place_address" %>

  <% facility_labels = {
  nursery: "授乳室",
  diaper: "おむつ交換台",
  kids_toilet: "幼児用トイレ",
  stroller: "ベビーカー対応",
  playground: "遊具",
  shade: "木陰",
  bench: "ベンチ",
  elevator: "エレベーター",
  parking: "駐車場"
  } %>

  <% facility_labels.each do |attr, label_text| %>
    <%= f.label attr, label_text %>
    <%= f.check_box attr %><br>
  <% end %>

  <%= f.label :photos %>
  <%= f.file_field :photos, multiple: true %><br>

  <%= f.submit "投稿する" %>
<% end %>

<script
  async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap">
</script>      


<%= javascript_pack_tag 'place_new_map' %>

<!--<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Geocoding_API_Key'] %>&callback=initMap"></script>-->