<h1 class="mb-4"><%= @place.name %> уБоч╖ищЫЖуГкуВпуВиуВ╣уГИ</h1>

<%= form_with model: @place_edit_request, url: place_place_edit_requests_path(@place), local: true do |f| %>
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <div class="form-group mb-3">
        <%= f.label :name, "цЦ╜шинхРН", class: "form-label" %>
        <%= f.text_field :name, class: "form-control", value: @place.name, placeholder: "цЦ╜шинхРНуВТхЕехКЫ" %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :address, "ф╜ПцЙА", class: "form-label" %>
        <%= f.text_field :address, class: "form-control", value: @place.address, placeholder: "ф╜ПцЙАуВТхЕехКЫ" %>
      </div>

      <div class="form-group mt-5 mb-3">
        <%= f.label :photos, "цЦ╜шинчФ╗хГП", class: "form-label" %>
        <%= f.file_field :photos, multiple: true %>
      </div>
      
      <p>ЁЯФНчП╛хЬиуБошинхВЩцГЕха▒</p>
      <%= render 'public/places/facility' %>

      <p>ЁЯЦКшинхВЩцГЕха▒хдЙцЫ┤</p>
      <%= render 'public/place_edit_requests/now_facility_checkboxes', f: f, place: @place %>

      <div class="d-flex justify-content-center">
        <%= f.submit "ч╖ищЫЖуГкуВпуВиуВ╣уГИуВТщАБф┐б", class: "btn w-50 gradient-btn" %>
      </div>
    </div>
  </div>

<% end %>

<div class="d-flex justify-content-center mb-5">
  <%= link_to "уВнуГгуГ│уВ╗уГл", places_path, class: "btn btn-secondary w-50" %>
</div>