<!DOCTYPE html>
<html>
  <head>
    <title>OdekakebabyApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container mt-4">
      <% flash.each do |key, message| %>
        <% bootstrap_class = case key %>
          <% when 'notice', 'success' then 'alert-success' %>
          <% when 'alert', 'error' then 'alert-danger' %>
          <% when 'warning' then 'alert-warning' %>
          <% else 'alert-info' %>
        <% end %>
        <div class="alert <%= bootstrap_class %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
    <%= javascript_pack_tag 'place_map', 'data-turbolinks-track': 'reload' %>
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap">
      </script>
  </body>
</html>
